<h1>Dashboard</h1>
<h2>Welcome {{ name }}</h2>

{{#if stories}}
    <table class="stiped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each stories}}
                 <tr>
                <th><a href="/stories/{{_id}}"> {{ title }}</th>
                <th>{{createdAt}}</th>
                <th><span class="dash-status">{{ status }}</span></th>
                <th></th>
            </tr>
            {{/each}}
        </tbody>

    </table>
{{else}}
<p>Aucune life racontée</p>
{{/if}}